Repository JS-banana/jack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --fix

chore: test commit lint for .vue
  packages/components/src/button/src/index.vue
Due: prettier --write, eslint --fix

chore: test commit lint
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: test commit lint
  .husky/pre-commit
  package.json
  packages/components/src/button/index.js
  packages/components/src/button/src/index.vue
  scripts/dev.js
  src/index.js
Due: prettier --write, eslint --fix

chore: test commit lint
  .husky/pre-commit
Due: none

feat: add changeset功能
  .changeset/README.md
  .changeset/config.json
  .npmrc
  examples/package.json
  learner/monorepo.md
  learner/pnpm-monorepo方案研究.md
  learner/前端组件化方案.md
  package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/demo/CHANGELOG.md
  packages/demo/package.json
  packages/pro-sqltiptree/CHANGELOG.md
  packages/pro-sqltiptree/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --fix

feat: ts支持
  .eslintrc
  .lintstagedrc
  .markdownlintignore
  .markdownlintrc
  learner/前端组件化方案.md
  package.json
  packages/components/package.json
  packages/demo/package.json
  packages/pro-sqltiptree/package.json
  pnpm-lock.yaml
  scripts/build.js
  scripts/config.js
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --fix

chore: 脚本测试
  .husky/pre-commit
Due: none

chore: 脚本测试
  .husky/pre-commit
  scripts/build.js
Due: prettier --write, eslint --fix

feat: examples 功能调整
  .eslintignore
  build/config.js
  docs/package.json
  examples/package.json
  examples/src/App.vue
  examples/src/demos/button/base.vue
  examples/src/demos/button/disabled.vue
  examples/src/demos/button/ghost.vue
  examples/src/demos/button/index.vue
  examples/src/demos/pro-sqltiptree/index.vue
  examples/src/layout/components/SideMenu.vue
  examples/src/layout/layout.vue
  examples/src/layout/router-view.vue
  examples/src/main.js
  examples/src/pages/home.vue
  examples/src/router/index.js
  examples/src/styles/index.less
  packages/components/index.js
  packages/components/package.json
  packages/pro-sqltiptree/README.md
  packages/pro-sqltiptree/package.json
  packages/pro-sqltiptree/src/index.vue
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier --fix

feat: examples 完善
  examples/src/App.vue
  examples/src/components/layout/basicLayout.vue
  examples/src/components/layout/blankLayout.vue
  examples/src/components/layout/components/SideMenu.vue
  examples/src/demos/button/index.vue
  examples/src/demos/pro-sqltiptree/index.vue
  examples/src/pages/home.vue
  examples/src/pages/router-view.vue
  examples/src/router/index.js
  packages/components/README.md
  scripts/build.js
Due: prettier --write, eslint --fix, prettier --fix

chore: 细节完善
  .gitignore
  examples/src/components/layout/components/SideMenu.vue
  examples/src/demos/button/index.vue
  examples/src/demos/pro-sqltiptree/index.vue
  examples/src/pages/home.vue
  examples/src/router/index.js
  package.json
  packages/components/.babelrc
  packages/components/dist/components.js
  packages/components/dist/components.js.gz
  packages/components/dist/components.js.map
  packages/components/package.json
  packages/components/webpack.config.js
  packages/pro-sqltiptree/.babelrc
  packages/pro-sqltiptree/package.json
  packages/pro-sqltiptree/webpack.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 格式化 md
  .babelrc
  .lintstagedrc
  CHANGELOG.md
  README.md
  docs/README.md
  docs/components/button.md
  docs/guide/README.md
  docs/pro-components/comSqlTipTree.md
  learner/README.md
  learner/pnpm-monorepo方案研究.md
  learner/yarn-monorepo方案研究.md
  learner/前端组件化探究.md
  learner/前端组件化方案.md
  package.json
Due: prettier --write, prettier --fix

feat: changeset 发布包 更新逻辑测试
  package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/demo/CHANGELOG.md
  packages/demo/README.md
  packages/demo/__tests__/demo.test.js
  packages/demo/lib/demo.js
  packages/demo/package.json
  packages/pro-sqltiptree/CHANGELOG.md
  packages/pro-sqltiptree/package.json
Due: prettier --write, eslint --fix, prettier --fix

feat: utils gulp 构建调整
  examples/.eslintignore
  package.json
  packages/utils/gulpfile.js
  packages/utils/lib/dom/getScrollTop.js
  packages/utils/lib/dom/offset.js
  packages/utils/lib/dom/scrollTo.js
  packages/utils/lib/dom/setScrollTop.js
  packages/utils/lib/dom/windowResize.js
  packages/utils/lib/index.js
  packages/utils/lib/object/deepClone.js
  packages/utils/lib/object/isEmptyObject.js
  packages/utils/lib/random/randomColor.js
  packages/utils/lib/random/randomNum.js
  packages/utils/lib/regexp/isColor.js
  packages/utils/lib/regexp/isEmail.js
  packages/utils/lib/regexp/isIdCard.js
  packages/utils/lib/regexp/isPhoneNum.js
  packages/utils/lib/regexp/isUrl.js
  packages/utils/lib/string/digitUppercase.js
  packages/utils/lib/time/formatPassTime.js
  packages/utils/lib/time/formatRemainTime.js
  packages/utils/lib/time/isLeapYear.js
  packages/utils/lib/time/isSameDay.js
  packages/utils/lib/time/monthDays.js
  packages/utils/lib/time/timeLeft.js
  packages/utils/lib/url/parseQueryString.js
  packages/utils/lib/url/stringfyQueryString.js
  packages/utils/package.json
  packages/utils/src/index.js
  packages/utils/test/time.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: changelog update
  CHANGELOG.md
Due: prettier --fix

docs: demo和文档更新
  .npmrc
  docs/.vuepress/nav.js
  docs/ah-utils/README.md
  docs/components/button.md
  docs/package.json
  examples/.eslintignore
  examples/.eslintrc.js
  examples/package.json
  examples/src/components/layout/components/SideMenu.vue
  examples/src/main.js
  examples/src/pages/home.vue
  examples/src/utils/index.js
  package.json
  packages/components/src/button/src/index.vue
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier --fix

feat: components 增加types
  .gitignore
  packages/components/CHANGELOG.md
  packages/components/dist/components.min.js
  packages/components/dist/components.min.js.gz
  packages/components/dist/components.min.js.map
  packages/components/package.json
  packages/components/types/index.d.ts
  packages/pro-sqltiptree/dist/index.min.js
  packages/pro-sqltiptree/dist/index.min.js.gz
  packages/pro-sqltiptree/dist/index.min.js.map
  packages/utils/dist/index.min.js
Due: prettier --write, eslint --fix, prettier --fix

fix(package.json): npm包入口调整，同步webpack构建输出
  packages/components/CHANGELOG.md
  packages/components/dist/components.min.js.gz
  packages/components/dist/components.min.js.map
  packages/components/dist/index.min.js
  packages/components/dist/index.min.js.gz
  packages/components/dist/index.min.js.map
  packages/components/package.json
  packages/components/webpack.config.js
  packages/pro-sqltiptree/CHANGELOG.md
  packages/pro-sqltiptree/dist/index.min.js
  packages/pro-sqltiptree/dist/index.min.js.gz
  packages/pro-sqltiptree/package.json
  packages/pro-sqltiptree/types/index.d.ts
  packages/utils/package.json
Due: prettier --write, eslint --fix, prettier --fix

build: 移除lerna依赖，本项目不再使用该工具，版本控制由changeset管理
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 删除无用文件
  examples/components.js
  examples/index.js
  packages/components/.npmrc
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write, eslint --fix, prettier --fix

chore: 代码优化
  CONTRIBUTING.md
  docs/guide/contribute.md
  examples/package.json
  examples/src/components/layout/components/SideMenu.vue
  examples/src/demos/button/index.vue
  examples/src/demos/pro-sqltiptree/index.vue
  examples/src/main.js
  examples/src/pages/home.vue
  examples/src/utils/index.js
  examples/webpack.dev.config.js
  package.json
  pnpm-lock.yaml
  src/index.js
Due: prettier --write, eslint --fix, prettier --fix

fix: docs vuepress webpack html 版本问题修复
  docs/package.json
Due: prettier --write

docs: 文档更新
  docs/.vuepress/nav.js
  docs/.vuepress/sidebar.js
  docs/.vuepress/styles/palette.styl
  docs/README.md
  docs/ah-utils/README.md
  docs/ah-utils/dom.md
  docs/ah-utils/object.md
  docs/guide/README.md
  docs/guide/changeset.md
  docs/guide/contribute.md
  docs/guide/use.md
  docs/learn/README.md
  docs/learn/changeset.md
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier --fix

docs: 文档网站内容更新
  docs/.vuepress/sidebar.js
  docs/guide/README.md
  docs/learn/README.md
  docs/learn/lerna.md
  docs/learn/pnpm-monorepo.md
Due: prettier --write, eslint --fix, prettier --fix

docs: 方案设计 更新
  docs/guide/solution.md
Due: prettier --fix

test: test lint
  .husky/pre-commit
  .lintstagedrc
  scripts/build.js
Due: prettier --write, eslint --fix

test: test lint
  scripts/build.js
Due: prettier --write, eslint --fix

perf: pretty-quick 脚本耗时较久，先关闭，直接使用prettier方案
  .husky/pre-commit
Due: none

docs: update CHANGELOG
  CHANGELOG.md
Due: prettier --fix

docs: 文档网站美化方案研究
  docs/learn/siteBeautify.md
Due: prettier --fix

docs: semver 语义化文档
  docs/guide/contribute.md
  docs/learn/semver.md
Due: prettier --fix

chore: package.json update
  package.json
Due: prettier --write

docs: readme update
  README.md
Due: prettier --fix

docs(docs): 文档更新
  docs/guide/changeset.md
  docs/learn/README.md
  learner/README.md
  learner/monorepo.md
  learner/pnpm-monorepo方案研究.md
  learner/yarn-monorepo方案研究.md
  learner/前端组件化探究.md
  learner/前端组件化方案.md
Due: prettier --fix

chore: update config
  .babelrc
  examples/package.json
Due: prettier --write

chore: update version test
  docs/README.md
  packages/pro-sqltiptree/CHANGELOG.md
  packages/pro-sqltiptree/package.json
  packages/pro-sqltiptree/src/index.vue
  packages/pro-sqltiptree/webpack.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, prettier --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,vue,json}
  eslint --fix: any of: *.{js,ts,tsx,vue}
  prettier --fix: any of: *.md
